<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>하차 알람을 사용하기 위해서는 위치 정보가 필요합니다.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>ws.bus.go.kr</key>
			<dict>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>API_ACCESS_KEY1</key>
	<string>${API_ACCESS_KEY1}</string>
	<key>API_ACCESS_KEY2</key>
	<string>${API_ACCESS_KEY2}</string>
	<key>API_ACCESS_KEY3</key>
	<string>${API_ACCESS_KEY3}</string>
	<key>API_ACCESS_KEY4</key>
	<string>${API_ACCESS_KEY4}</string>
	<key>API_ACCESS_KEY5</key>
	<string>${API_ACCESS_KEY5}</string>
	<key>API_ACCESS_KEY6</key>
	<string>${API_ACCESS_KEY6}</string>
	<key>API_ACCESS_KEY7</key>
	<string>${API_ACCESS_KEY7}</string>
	<key>API_ACCESS_KEY8</key>
	<string>${API_ACCESS_KEY8}</string>
	<key>API_ACCESS_KEY9</key>
	<string>${API_ACCESS_KEY9}</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
