//
//  StationInfoAccessKey.xcconfig
//  BBus
//
//  Created by 이지수 on 2021/11/10.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_ACCESS_KEY2 = uAtMsUVNMLIM%2FM9jsvgC%2Fo%2BAPgjDeFWWYodCR7fEwEPCk4%2FHvHZRpKXLdvTXgcNA0GTPtfYIptCaFrqnzWqQLQ%3D%3D
API_ACCESS_KEY = JU6Py4AWpotO1SCyjd0bbC9UbIYKLnFBmC9UJrQ6w9FLmBM4YvZROJndyYOxzQqlgDt5iWMcDWXKJWfe8%2F0xMw%3D%3D
